body {
  background-color: aqua;
  padding: 10px;
}
.name {
  color: blueviolet;
  font-size: 40px;
}
.submit {
  font-size: 50px !important;
}
.car {
  font-size: 50px;
  color: blue;
}
.theimage img {
  width: 200px;
}
